<%= form_for(@three_offspring_picture) do |f| %>
  <% if @three_offspring_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@three_offspring_picture.errors.count, "error") %> prohibited this three_offspring_picture from being saved:</h2>

      <ul>
      <% @three_offspring_picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
