<h1>Editing crossing</h1>

<%= render 'form' %>
<div class="container">
    <%= link_to 'Show', @crossing,class: "btn btn-primary active" %> 
    <%= link_to 'Back', crossings_path,class: "btn btn-primary active" %>
</div>
