<%= render 'optionsMenu', model: "Crossing" %>
<%= render 'modalBarCode', model: "Crossing" %>
<div class="panel panel-primary filterable">
    <div class="panel-heading">
        <h2 class="panel-title">Crossings</h2>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-striped filterTable">
            <button type="button" class="btn btn-primary clearFilters" aria-label="Left Align">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Filters
            </button>
            <br>
            <br>
            <thead>
                <tr class="filters">
                    <th>CodeCross</th>
                    <th>N°Repeat</th>
                    <th>Year</th>
                    <th>Status</th>
                    <th>Father Code</th>
                    <th>Mother Code</th>
                    <!-- <th>CrossWeek</th> -->
                    <th>Effective</th>
                    <th>N°Crossings</th>
                    <th>Good Crossings</th>
                    <th>Bad Crossings</th>
                    <th>%Effective</th>
                    <th>N°Seeds</th>
                    <th class="buttonAction"></th>
                    <th class="buttonAction"></th>                    
                </tr>                
            </thead>
            <tbody id="crossingsBody">
                <% @crossings.each do |crossing| %>
                <%= render "crossing", crossing: crossing %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%= render 'dialog' %>