<div class="container">
    <h2>Crossings</h2>
    <div class="well">
        <%= link_to "New Crossing", new_crossing_path, remote: true, class: "btn btn-primary" %>
    </div>
    <div class="new-crossing"></div>

    <table id class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>CodeCross</th>
                <th>NumRepeat</th>
                <th>Year</th>
                <th>Status</th>
                <th>Father Code</th>
                <th>Mother Code</th>
                <th>CrossWeek</th>
                <th>Effective</th>
                <th>NumCrossings</th>
                <th>GoodCrossings</th>
                <th>BadCrossings</th>
                <th>PercentageEffective</th>
                <th>NumSeeds</th>
            </tr>
        </thead>
        <tbody id="crossings">            
            <% @crossings.each do |crossing| %>
            <%= render "crossing", crossing: crossing %>
            <% end %>
        </tbody>
    </table>
    <%= render 'dialog' %>
</div>