<div class="container">
    <h1>Editing Three Offspring</h1>   
    <%= link_to 'Show', @three_offspring, class: "btn btn-default glyphicon glyphicon-eye-open" %> 
    <%= link_to 'Back', three_offsprings_path, class: "btn btn-default glyphicon glyphicon-arrow-left" %>
</div>
<br>
<%= render 'form' %>