<div class="container">
   <h1>Editing Genetic Bank</h1>    
    <%= link_to ' Back', genetic_banks_path ,class: "btn btn-default glyphicon glyphicon-arrow-left"%>
    <%= link_to ' Show', @genetic_bank, class: "btn btn-default glyphicon glyphicon-eye-open" %>     
</div>
<br>
<%= render 'form' %>
