<h1>Editing genetic_bank</h1>
<%= render 'form' %>
<div class="container">
    <%= link_to 'Show', @genetic_bank, class: "btn btn-primary active" %> 
    <%= link_to 'Back', genetic_banks_path ,class: "btn btn-primary active"%>
</div>
