<div class="container">
    <%= link_to ' Show', @genetic_bank, class: "btn btn-default glyphicon glyphicon-eye-open" %> 
    <%= link_to ' Back', genetic_banks_path ,class: "btn btn-default glyphicon glyphicon-arrow-left"%>
</div>
<br>
<%= render 'form' %>
