<%= render 'optionsMenu', model: "GeneticBank" %>
<%= render 'modalBarCode', model: "GeneticBank" %>
<div class="panel panel-primary filterable">
    <div class="panel-heading">
        <h2 class="panel-title">Genetic Bank</h2>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-striped filterTable">
            <button type="button" class="btn btn-primary clearFilters" aria-label="Left Align">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Filters
            </button>
            <br>
            <br>
            <thead>
                <tr class="filters">
                    <th>Code</th>
                    <th>Location</th>
                    <th>Trademark</th>
                    <th>Denomination</th>
                    <th>Color</th>
                    <th>Year</th>
                    <th>Breeder</th>
                    <th>Status</th>
                    <th>Scent</th>
                    <th>HeadSize</th>
                    <th>NumPetals</th>
                    <!-- <th>SteamLenght</th>
                                    <th>Opening</th> -->
                    <th class="buttonAction"></th>
                    <th class="buttonAction"></th>
                    <th class="buttonAction"></th>
                </tr>
            </thead>
            <tbody id="geneticBankBody">
                <% @genetic_banks.each do |geneticBank| %>
                <%= render "geneticBank", geneticBank: geneticBank %>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
<%= render 'dialog' %>