<div class="container">
    <h1>New Genetic Bank</h1>    
    <div class="action-pane">
        <%= link_to genetic_banks_path, class: "btn btn-default " do %>    
        <i class="glyphicon glyphicon-arrow-left"></i>Back
        <%end%>

        <%= link_to new_genetic_bank_path, class: "btn btn-default new-geneticBank" do %>
        <i class="glyphicon glyphicon-file"></i>New
        <% end %>       
    </div>
    <%= render 'form' %>
</div>
