<h1>Editing Irb Selection</h1>

<%= render 'form' %>
<div class="container">
    <%= link_to 'Show', @irb_selection, class: "btn btn-primary active" %> 
    <%= link_to 'Back', irb_selections_path, class: "btn btn-primary active" %>
</div>
