<div class="container">
    <h1>Editing Conectiflor Selection</h1>        
    <%= link_to 'Back', conectiflor_selections_path, class: "btn btn-default glyphicon glyphicon-arrow-left" %>
    <%= link_to 'Show', @conectiflor_selection, class: "btn btn-default glyphicon glyphicon-eye-open" %> 
</div>
<br>
<%= render 'form' %>