<h1 class="alert alert-success text-center">Conectiflor Selections</h1>

<div class="text-center">
    <h3><%= link_to 'New Conectiflor selection', new_conectiflor_selection_path %></h3>
</div>

<%=
    grid(@conectiflorSelectionsGrid) do |conectiflor|    
        conectiflor.column name: "Code", attribute: "code" 
        conectiflor.column name: "Location", attribute: "location" 
        conectiflor.column name: "Trademark", attribute: "trademark" 
        conectiflor.column name: "Denomination", attribute: "denomination" 

        conectiflor.column name: "Image" do |conectiflorImage|
            if @pictures.exists?(:conectiflor_selection_id => conectiflorImage.id)
                arrayImage = @pictures.where(conectiflor_selection_id: conectiflorImage.id).to_a
                pictureFileName = arrayImage[0][:picture_file_name]
                image_tag(@conectiflorImagesPath+pictureFileName,:class =>"img-thumbnail")      
            end            
        end
        conectiflor.column name: "Year", attribute: "year" 
        conectiflor.column name: "Status", attribute: "status" 
        conectiflor.column name: "N° Plants", attribute: "numPlants" 
        conectiflor.column name: "Color", attribute: "colorName" , assoc: :color
        conectiflor.column name: "Head Size", attribute: "headSize" 
        conectiflor.column name: "N° Petals", attribute: "numPetals" 
        conectiflor.column name: "Production %", attribute: "production" 
        conectiflor.column name: "Opening %", attribute: "opening" 
        conectiflor.column name: "Abnormality", attribute: "abnormality" 
        conectiflor.column name: "Remarks", attribute: "remarks"   

        conectiflor.column do |conectiflorSelection|
            link_to("Edit",edit_conectiflor_selection_path(conectiflorSelection.id),:class => "btn btn-warning")
        end

        conectiflor.column do |conectiflorSelection|
            link_to("Show",conectiflor_selection_path(conectiflorSelection.id),:class => "btn btn-success")
        end

        conectiflor.column do |conectiflorSelection|
            link_to("Delete",conectiflor_selection_path(conectiflorSelection.id), data: {confirm: 'Are you sure?'}, method: :delete,:class => 'deleteButton',:class => "btn btn-danger")
        end
    end
-%>




