<div class="container">
    <h1>New Conectiflor Selection</h1>    
    <%= link_to ' Back', conectiflor_selections_path, class: "btn btn-default glyphicon glyphicon-arrow-left" %>
    <%= render 'form' %>    
</div>