<div class="container">
    <h1>Editing Seed</h1>
    <%= link_to ' Show', @seed, class: "btn btn-default glyphicon glyphicon-eye-open" %> 
    <%= link_to ' Back', seeds_path ,class: "btn btn-default glyphicon glyphicon-arrow-left"%>        
</div>
<br>
<%= render 'form' %>