<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#generalView">General View</a></li>
    <li><a data-toggle="tab" href="#results">Results</a></li>
</ul>

<div class="tab-content">
    <div id="generalView" class="tab-pane fade in active">
        <br>
        <%= render 'optionsMenu', model: "Seed" %>
        <%= render 'modalBarCode', model: "Seed" %>
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h2 class="panel-title">Seeds</h2>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-striped filterTable">
                    <button type="button" class="btn btn-primary clearFilters" aria-label="Left Align">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Reset Filters
                    </button>
                    <br>
                    <br>
                    <thead>
                        <tr class="filters">
                            <th>CodeCross</th>
                            <th>Sowdate</th>
                            <th>Origin</th>
                            <th>Numseeds</th>
                            <th>Totalweight</th>
                            <th>Week</th>
                            <th>Hydratation</th>
                            <th>Status</th>
                            <th>Dateout</th>
                            <th>Germination</th>
                            <th>totalCode</th>
                            <th>totalNum</th>
                            <th class="buttonAction"></th>
                            <th class="buttonAction"></th>
                        </tr>
                    </thead>
                    <tbody id="seedsBody">
                        <% @seeds.each do |seed| %>
                        <%= render "seed", seed: seed %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <%= render 'dialog' %>
    </div>

    <div id="results" class="tab-pane fade">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h2 class="panel-title">Results by CodeCross</h2>
            </div>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>CodeCross</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>