<%= render 'optionsMenu', model: "Color" %>
<div class="container">
    <div class="alert alert-success" role="alert" style="display: none;"></div>
    <div class="panel panel-primary filterable">
        <div class="panel-heading">
            <h2 class="panel-title">Colors</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Color Name</th>
                    </tr>
                    <tr class="filters">
                        <th><input type="text" class="form-control"></th>
                        <th>
                            <span class="glyphicon glyphicon-filter">Filters</span>
                        </th>
                        <th>
                            <button id="clearFilters" class="btn"><i class="glyphicon glyphicon-refresh"></i></button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% @colors.each do |color| %>
                    <%= render "row", color: color %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>