<div class="container">
    <h1>Editing Germination</h1>
    <%= link_to 'Show', @germination, class: "btn btn-default glyphicon glyphicon-eye-open" %> 
    <%= link_to 'Back', germinations_path, class: "btn btn-default glyphicon glyphicon-arrow-left" %>
</div>
<br>
<%= render 'form' %>