<h1>Editing Germination</h1>

<%= render 'form' %>
<div class="container">
    <%= link_to 'Show', @germination, class: "btn btn-primary active" %> 
    <%= link_to 'Back', germinations_path, class: "btn btn-primary active" %>
</div>
