<h1>Editing One Offspring</h1>

<%= render 'form' %>
<div class="container">
    <%= link_to 'Show', @one_offspring, class: "btn btn-primary active" %> 
    <%= link_to 'Back', one_offsprings_path , class: "btn btn-primary active"%>
</div>
