<div class="container">
    <h1>Editing Offspring 1</h1>    
    <%= link_to 'Show', @one_offspring, class: "btn btn-default glyphicon glyphicon-eye-open" %> 
    <%= link_to 'Back', one_offsprings_path , class: "btn btn-default glyphicon glyphicon-arrow-left"%>
</div>
<br>
<%= render 'form' %>