<div class="container">
    <h1>Editing Spek Selection</h1>
    <%= link_to 'Back', spek_selections_path, class: "btn btn-default glyphicon glyphicon-arrow-left"%>
    <%= link_to 'Show', @spek_selection, class: "btn btn-default glyphicon glyphicon-eye-open" %> 
</div>
<br>
<%= render 'form' %>