<h1>Editing Spek Selection</h1>

<%= render 'form' %>
<div class="container">
    <%= link_to 'Show', @spek_selection, class: "btn btn-primary active" %> 
    <%= link_to 'Back', spek_selections_path, class: "btn btn-primary active"%>
</div>
